[submodule "TS V1.0 Esp32 1.44 TFT Display MicroSD Card Slot Speakers WIFI Bluetooth Module/WiFiFinder/lib/ArduinoMenu"]
	path = TS V1.0 Esp32 1.44 TFT Display MicroSD Card Slot Speakers WIFI Bluetooth Module/WiFiFinder/lib/ArduinoMenu
	url = https://github.com/neu-rah/ArduinoMenu/
